.header-container{
   width: 1208px;
   height: 1117px;
   background-color: rgb(59, 7, 66);

   .header_img1{
    // margin-top: 100px;
    width: 1208px;
    height: 729px;
   }
   .header_img2{
    width: 1209px ;
    height: 900px;
    position: relative;
    top: -515px;
   }
   .header_frameImg{
    position: relative;
    top: -2055px;
    margin-left: 30px;
   }
   .header_rocked{
    position: relative;
    top: -1380px;
    margin-left: -350px;
    height: 500px;
   }
   .header_cloud1{
      position: relative;
      top: -1400px;
      margin-left: 675px;
      width: 530px;
   }
   .header_cloud2{
      position: relative;
      top: -1610px;
      width: 530px;
      margin-right: 690px;
   }
   .header_cloud3{
      position: relative;
      top: -2030px;
      margin-left: -10px;
      width: 1200px;
   }
   .header_fire1{
      // position: relative;
      position: absolute;
      top: 600px;
      margin-left: -650px;
      width: 110px;
   }
   .header_fire2{
      position: relative;
      top: -2405px;
      margin-left: 0px;
      margin-right: 0px;
      width: 110px;
   }
   .header_moon{
      position: relative;
      position: absolute;
      top: 250px;
      margin-left: -492px;
      width: 70px;
   }
   .header_text1{
      position: relative;
      position: absolute;
      top: 260px;
      margin-left: 250px;
   }
   .header_jupiter{
      position: relative;
      position: absolute;
      top: 600px;
      margin-left: -580px;
      width: 140px;
   }
   .header_text2{
      position: relative;
      position: absolute;
      top: 640px;
      margin-left: 220px;
   }
   .header_mars{
      position: relative;
      position: absolute;
      top: 350px;
      margin-left: 180px;
      width: 90px;
   }
   .header_text3{
      position: relative;
      position: absolute;
      top: 365px;
      margin-left: 950px;
   }
   .header_group{
      position: relative;
      position: absolute;
      top: 700px;
      margin-left: 230px;
      width: 25px;
   }
   .header_text4{
      position: relative;
      position: absolute;
      top: 677px;
      margin-left: 930px;

   }

}
